@BaseFontColor: #333;

@BaseFontSize: 14px;

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: arial, helvetica, sans-serif;
  font-size: @BaseFontSize;
  color: @BaseFontColor;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

p, small {
  float: left;
  width: 100%;
  padding: 12px;
  margin: 0;
}

small {
  padding-top: 0;
  font-size: @BaseFontSize - 2px;
}

.app {
  position: relative;
  width: 100%;
  max-width: 768px;
  overflow: hidden;
  margin: auto;
  padding: 8px;
}

.loading {
  position: relative;
  width: 100%;
  margin: 100px auto auto auto;
  text-align: center;
  padding: 8px;

  p {
    float: left;
    width: 100%;
    font-size: 18px;
    margin: 0;
    padding: 0;

    small {
      font-size: 14px;
    }
  }
}

.my-list,
.my-list-2,
.my-list-3 {
  float: left;
  width: 100%;
  height: auto;
  border: 1px solid grey;
  padding: 8px;
}

.my-list {
  height: 200px;
  overflow: auto;
  padding-bottom: 0;
}

.list-item {
  float: left;
  width: 100%;
  height: auto;
  padding: 12px;
  border: 2px solid lightblue;
  margin-bottom: 8px;
  transform-origin: 50% 50%;

  &.dragged {
    background-color: #EEE;
    transform: scale(0.98, 0.98);
    opacity: 0.7;
  }

  &.selected {
    border: 2px solid red;
  }

  &.placeholder {
    background-color: #CCC;
    border: 2px solid #CCC;

    .inner {
      visibility: hidden;
    }
  }
}

.my-list-2 {
  overflow-x: auto;
  overflow-y: hidden;
  height: 62px;
  white-space: nowrap;

  .list-item {
    float: none;
    width: 80px;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
  }
}

.my-list-3 {
  .list-item {
    float: left;
    width: percentage(1/2);
  }
}
